{% extends 'layout.html' %}

{% block body %}

	<h1>Computer Science</h1>

	<div style="background-color: lightblue">
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 8 - INTRO TO COMP SCI </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 07484 </font></td>
				<td width="29%"><font size=3>time: TR 2:00 PM - 3:15 PM </font></td>
				<td width="33%"><font size=3>place: North Hall, 1006 </font></td> 
				<td width="23%"><font size=3>MATNI Z A </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07492</font></td>
				<td><font size=3>time: M 8:00 AM - 8:50 AM</font></td>
				<td><font size=3>place: North Hall, 3525</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>

	<div>
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 16 - PROBLEM SOLVING I </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 07534 </font></td>
				<td width="29%"><font size=3>time: MW 2:00 PM - 3:15 PM </font></td>
				<td width="33%"><font size=3>place: Psychology Building, 1924 </font></td> 
				<td width="23%"><font size=3>KHARITONOVA Y </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07542</font></td>
				<td><font size=3>time: W 8:00 AM - 8:50 AM</font></td>
				<td><font size=3>place: Phleps Hall, 3525</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>

	<div style="background-color: lightblue">
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 24 - PROBLEM SOLVING II </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 07633 </font></td>
				<td width="29%"><font size=3>time: MW 9:30 AM - 10:45 AM </font></td>
				<td width="33%"><font size=3>place: Psychology Building, 1924 </font></td> 
				<td width="23%"><font size=3>MIZRA D </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07641</font></td>
				<td><font size=3>time: T 3:00 PM - 3:50 PM</font></td>
				<td><font size=3>place: Phleps Hall, 3525</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>	

	<div>
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 32 - OBJ ORIENT DESIGN </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 07682 </font></td>
				<td width="29%"><font size=3>time: TR 12:30 PM - 1:45 PM </font></td>
				<td width="33%"><font size=3>place: Chemistry Building, 1171 </font></td> 
				<td width="23%"><font size=3>WANG R K </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07690</font></td>
				<td><font size=3>time: W 12:00 PM - 12:50 PM</font></td>
				<td><font size=3>place: Phleps Hall, 3525</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>

	<div style="background-color: lightblue">
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 48 - COMP SCI PROJECT </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 07765 </font></td>
				<td width="29%"><font size=3>time: MW 2:00 PM - 3:15 PM </font></td>
				<td width="33%"><font size=3>place: Phelps Hall, 3526 </font></td> 
				<td width="23%"><font size=3>KRINTZ C </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07773</font></td>
				<td><font size=3>time: F 11:00 AM - 11:50 AM</font></td>
				<td><font size=3>place: Phleps Hall, 3525</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>	

	<div>
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 56 - ADV APP PROGRAM </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 49437 </font></td>
				<td width="29%"><font size=3>time: TR MW 5:00 PM - 6:15 PM </font></td>
				<td width="33%"><font size=3>place: Phelps Hall, 3526 </font></td> 
				<td width="23%"><font size=3>CONRAD P T </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 49445 </font></td>
				<td><font size=3>time: R 4:00 PM - 4:50 PM </font></td>
				<td><font size=3>place: Phleps Hall, 3525 </font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>

	<div style="background-color: lightblue">
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 99 - INDEPENDENT STUDIES </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: T.B.A </font></td>
				<td width="29%"><font size=3>time: T.B.A </font></td>
				<td width="33%"><font size=3>place: T.B.A </font></td> 
				<td width="23%"><font size=3>T.B.A </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 07831 </font></td>
				<td><font size=3>time: T.B.A </font></td>
				<td><font size=3>place: T.B.A </font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>	

	<div>
		<table width="900" border="0.1">
			<tr>
				<td colspan="5"><font size=4>CMPSC 111 - INT COMPUTAT SCI </font></td>
			</tr>
			<tr>
				<td width="2%"><font> </font></td>
				<td width="13%"><font size=3>code: 50880 </font></td>
				<td width="29%"><font size=3>time: TR 11:00 AM - 12:15 PM </font></td>
				<td width="33%"><font size=3>place: Psychology Building, 1924 </font></td> 
				<td width="23%"><font size=3>MATNI Z A </font></td>
			</tr>
			<tr>
				<td><font> </font></td>
				<td><font size=3>code: 50906</font></td>
				<td><font size=3>time: R 4:00 PM - 4:50 PM </font></td>
				<td><font size=3>place: Phelps Hall, 2510</font></td>
				<td><font size=3>T.B.A </font></td>
			</tr>
		</table>
		<br>
	</div>	



{% endblock %}