/* Global styles
------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
  color: #EF233C;
  font-size: 30px;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

/*a.button1{*/
  /*display: inline-block;*/
  /*padding: 0.35em 1.2em;*/
  /*border:0.1em solid #FFFFFF;*/
  /*margin:0 0.3em 0.3em 0;*/
  /*border-radius:0.12em;*/
  /*box-sizing: border-box;*/
  /*text-decoration:none;*/
  /*font-family:'Roboto',sans-serif;*/
  /*font-weight:300;*/
  /*color:#FFFFFF;*/
  /*text-align:center;*/
  /*transition: all 0.2s;*/
/*}*/

/*a.button1:hover{*/
  /*color:#000000;*/
  /*background-color:#FFFFFF;*/
/*}*/
/*@media all and (max-width:30em){*/
  /*a.button1{*/
    /*display:block;*/
    /*margin:0.4em auto;*/
  /*}*/
/*}*/

/*.bouncy{*/
/*animation:bouncy 5s infinite linear;*/
/*position:relative;*/
/*}*/
/*@keyframes bouncy {*/
  /*0% {top: 0em;}*/
  /*40% {top: 0em;}*/
  /*43% {top: -0.9em;}*/
  /*46% {top: 0em;}*/
  /*48% {top: -0.4em;}*/
  /*50% {top: 0em;}*/
  /*100% {top: 0em;}*/

/*}*/


/* Header & Footer
------------------------------------*/
header,
footer {
  background: #6CE4FC;
  color: #8D99AE;
}
header h1,
header h2 {
  color: #EDF2F4;
  margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}



/* description
------------------------------------*/
.description {
  background: #EDF2F4;
}
