
header {
  display: inline;
}

header select {
  font-family: Arial;
  background-color: lightblue;
  width: auto;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  color: purple;
  line-height: 20px;
}

header button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

header button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

header button:hover span {
  padding-right: 25px;
}

header button:hover span:after {
  opacity: 1;
  right: 0;
}

header label {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #F2F4F4;
}

#Delet {
  width: 250px;
  background-color: darkblue;
}

footer h1, footer h2{
  font-weight: 400;
}

footer h1{
  font-size: 80px;
}

footer h2{
  font-size: 40px;
}

footer {
  background: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  color: grey;
}

footer button{
  background-color: lightgreen;
  border: none;
  color: purple;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

footer button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}






