<!DOCTYPE HTML>
<html>
	<head>

        <title>calender</title>
        <style>
        
        .wrapper {
            display:grid;
        }
        .wrapper > div{
            display:grid;
            background:#eee;
            padding:1em;
        }
        .wrapper > div:nth-child(odd){
            background:#ddd;
        }

        .wrapper > div {
            display: grid;
            grid-template-columns:repeat(8, 1fr);
            border:#333 0.1px solid;
        }

        .row > div {
            
        }
        
        </style>
    </head>

	<body>

     dd

        <div class="wrapper">
            <div class="row">
                <div></div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div>
                <div>7:00am</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
            <div>
                <div>8:00am</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
            <div>
                <div>9:00am</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
            <div>
                <div>10:00am</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>  
            <div>
                <div>11:00am</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>  
            <div>
                <div>12:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div>1:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div>2:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>3:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>4:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>5:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>6:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>7:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
             <div>
                <div>8:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
            <div>
                <div>9:00pm</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div> 
        </div>
    </body>
</html>