<!DOCTYPE HTML>
<html lang="yunchun">
<body>
	<script type="text/javascript">
		function table() {
			var weekDays = ["", "Mon", "Tue", "Wed", "Thr", "Fri"];
			var time = ["7:00am", "8:00am", "9:00am", "10:00am", "11:00am", "12:00pm", 
			"1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm", 
			"9:00pm", "10:00pm"];
			var index = 0;
			var table = '';
			var rows = 18;
			var cols = 6;
			for (var r = 0; r < rows; r++){
				if(r == 0) {
					table += '<tr>';
					table += '<th height = "50" colspan="6" id = "title">' +  'Time Table' + '</th>';
					// table += '<th colspan= "6">' + Time Table + '</th>';
					table += '</tr>';

				} else if(r == 1) {
					table += '<tr>';
					for (var c = 0; c < cols; c++) {
						table += '<th width ="100" height = "50" id='+ weekDays[c] + '>' + weekDays[c] + '</th>';
					}
					table += '</tr>';
				} else if(r == 2){
					table += '<tr>';
						for(var c = 0; c < cols; c++) {
							if(c==0) {
								table += '<td height = "50">' + time[index] +'</td>';
								index++;
							} else {
								table += '<td rowspan="16" id='+ weekDays[c] + 'T' +'>' + nestedTable() +'</td>';
							}
						}
					table += '</tr>';
				} else {
					table += '<tr>';
						table += '<td height = "50">' + time[index] +'</td>';
								index++;
					table += '</tr>';
				}
			}
			document.write('<table border=1 bordercolor="lightgray" cellspacing="0" style="width: 100%; height: 100%;">' + table + '</table>');
			// document.getElementById("Fri22:00").style.backgroundColor = "blue";
			// for(var i = 0; i < 6; i ++) {
			// 	document.getElementById('Wed3:00pm').getElementsByTagName('td')[i + 6].style.backgroundColor = "lightblue";
			// }
			// for(var i = 0; i < 9; i ++) {
			// 	document.getElementById('Wed4:00pm').getElementsByTagName('td')[i].style.backgroundColor = "lightblue";
			// }

			
		}

		function nestedTable() {
			var nestedTable = '';
			var row = 192;
			nestedTable += '<table border=0 cellspacing="0" style="width: 100%; height: 100%;">';
			for(var r = 0; r < row; r++) {
				nestedTable += '<tr>' + '<td>' + '</td>' + '</tr>'
			}
			nestedTable += '</table>';
			return nestedTable;
		}


		function timeSplit(string) {
			//MW2:00pm-3:15pm
			// var string = "Mon1530-1645";
			var day = string.substring(0, 3);
			var time = string.substring(3);
			var res = time.split("-");
			var TimeS = res[0];
			var TimeE = res[1];
			var hourS = parseInt(TimeS.substring(0, 2), 10);
			var minS = parseInt(TimeS.substring(2), 10);
			var hourE = parseInt(TimeE.substring(0, 2), 10);
			var minE = parseInt(TimeE.substring(2), 10);
			var diffHour = hourE - hourS;
			var diffMin = minE - minS;
			var startCell = ((hourS-7)*12) + (minS/5);
			var numOfCells = (diffHour*12) + (diffMin/5);
			return [startCell, numOfCells, day];
		}

		function addColor(string) {
			var startCell = timeSplit(string)[0];
			var numOfCells = timeSplit(string)[1];
			var day = timeSplit(string)[2]
			for(var i = 0; i < numOfCells; i ++) {
				if(!(document.getElementById(day + 'T').getElementsByTagName('td')[i + startCell].style.backgroundColor)){
					document.getElementById(day + 'T').getElementsByTagName('td')[i + startCell].style.backgroundColor = "lightblue";
				} else {
					document.getElementById(day + 'T').getElementsByTagName('td')[i + startCell].style.backgroundColor = "red";
				}
				
			}
		}
		var time1 = "Mon1530-1645";
		var time2 = "Wed1530-1645";
		var time3 = "Fri0900-0955";
		var time4 = "Fri0950-1050";
		table();
		addColor(time1);
		addColor(time2);
		addColor(time3);
		addColor(time4);
			// document.getElementById('MonT').getElementsByTagName('td')[66].innerHTML = "Math";
	</script>
</body>
</html>




















