{% extends "layout.html" %}

{% block content %}
	<main class="class-section">

        <div class="container">
            <div class="subject-table">
                <h2 class="lol">Subject</h2>
                <select id = "subjectList">
                    <option value = 1>---select-your-subject---</option>
                    {%  for r in displayData %}k
                        <option value = {{ r }}>{{ r.times }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--
            <div class="course-table">
                <h2 class="lol">Course</h2>
                <select id = "courseList">
                    <option value = "1">classes</option>
                    <option value = "2">one</option>
                    <option value = "3">CS 48</option>
                    <option value = "4">three</option>
                </select>
            </div>
            <div class="section-table">
                <h2 class="lol">Section</h2>
                <select id = "sectionList">
                    <option value = "1">section</option>
                    <option value = "2">4:00pm-4:50pm</option>
                    <option value = "3">two</option>
                    <option value = "4">three</option>
                </select>
            </div>
        </div>
        -->

        <div class="navbar">
            <a type="button" class="generate" href="{{ url_for('calendar') }}">GENERATE</a>
        </div>

	</main>
{% endblock %}