<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main1.css') }}" type="text/css" rel="stylesheet">
    <title>Gold Scheduler</title>
</head>
<body>
    <!-- We should have some nice font -->
    <header>
        <div class="content-wrap">
            <img class="profile-img" src= {{ url_for('static', filename='images/coffee1.jpg') }} alt="coffee">
            <h1>Gold Scheduler</h1>
            <h2>A webapp designed by UCSB students for UCSB students!</h2>
        </div>
    </header>


  <main>
    <!-- We should try and use UC Blue and Gold colors as the color themes -->
    <section class="description">
        <div class="content-wrap">
            <p> Gold Scheduler is a way to help UCSB students plan out their schedules for their upcomming quarters.</p>
            <p> When you're registering for classes in GOLD, you may have a number of different classes, lectures, and sections to choose from. GOLD, unfortunately, can only show you what your quarter will look like if you manage to successfully enroll in those classes. What about classes that you're waitlisted for? Classes you're interested outside your curriculum plan?</p>
            <p>Gold Scheduler can allow you to make schedules for any class combinations that you are thinking of taking in the upcoming quarter. That way you can plan your new quarter accordingly and know that you made the best choice of lectures and sections that fit your needs!</p>

            <h4>Click below to begin!</h4>

            <a href="{{ url_for("scheduleMaker") }}" class="button1 bouncy"> Take me to Gold Scheduler</a>
        </div>
   </section>
  </main>

  <footer>
        <div class="content-wrap">
            <h2>Good Luck Gauchos!</h2>

            <p>Copyright 2019 by Gold Scheduler Team</p>
        </div>   
  </footer>
</body>
</html>
