<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GOLD SCHEDULER</title>
	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	<!-- {% include 'includes/_navbar.html' %} -->
	<header>
			<div class="container">
				<h1 class="title">Gold Scheduler HelloWorld</h1>
			</div>
		</header>
	{% block body %}{% endblock %}
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">	</script>
</body>
</html>