<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Time Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/addColor.js"></script>
    <link href="{{ url_for('static', filename='css/mainSelect.css') }}" type="text/css" rel="stylesheet">
    <script src="../static/js/dropdownListAdding.js"></script>
</head>
<body onload="addSubject()" onresize="resize()">

<header id="header">
        <label>Subject: <select id="subject" onchange="postSubject(this.value) ">
		        <option value="0">--Please Choose--</option>
	        </select>
        </label>


        <label>Class: <select id="class1" onchange="postSubClass(this.value)">
		            <option value="0">--Please Choose--</option>
	            </select>
        </label>



        <label>Lecture: <select id="teacherLecTime" onchange="postLectTime(this.value)">
		                    <option value="0">--Please Choose--</option>
	                </select>
        </label>


        <label> Section: <select id="section">
		                        <option value="0">--Please Choose--</option>
	                    </select>
        </label>
    </br>
    <button class="button" style="vertical-align:middle" onclick = "addClass(planIndex)"><span>addClass</span></button>

    </br>

        <label>Your Class: <select id="classOn" style="width: 550px">
		                        <option value="0">Your class will be here!</option>
                    </select>
        </label>


    <button class="button"  onclick = "DropClass(planIndex)"><span>Drop it!</span></button>
    <!-- <button type="button" onclick = "table()">table</button>
    <button type="button" onclick = "deleTable()">detetable</button> -->
    </br>

    <button class="button" value="DEFAULT SCHEDULE" id="0" onclick = "printTimeTable(this.id, this.value)"><span>DEFAULT SCHEDULE</span></button>
</header>

    <button class="button" id="AddNewPlan" style="vertical-align:middle" onclick = "addNewPlan()"><span>Add New Plan!</span></button>
    <button class="button" id="Delet" style="vertical-align:middle" onclick = "deletePlan(planIndex)"><span>Delete Current Plan</span></button>
    <button class="button" id="toGold" style="vertical-align:middle" onclick = "window.open('https://my.sa.ucsb.edu/gold/login.aspx','_blank')"><span>Take me to Gold!</span></button>

    <script type="text/javascript">

    function table(tableName) {
            if(tableName === undefined) tableName = "DEFAULT SCHEDULE";
            var body = document.getElementsByTagName("body")[0];
			var weekDays = ["", "Mon", "Tue", "Wed", "Thr", "Fri"];
			var time = ["7:00am", "8:00am", "9:00am", "10:00am", "11:00am", "12:00pm",
			"1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm",
			"9:00pm", "10:00pm"];
			var index = 0;
			var table = '';
			var rows = 18;
			var cols = 6;
			for (var r = 0; r < rows; r++){
				if(r == 0) {
					table += '<tr>';
					table += '<th height = "60" colspan="6" id = "title">' +  tableName + '</th>';
					// table += '<th colspan= "6">' + Time Table + '</th>';
					table += '</tr>';

				} else if(r == 1) {
					table += '<tr>';
					for (var c = 0; c < cols; c++) {
						table += '<th width ="60" height = "60" id='+ weekDays[c] + '>' + weekDays[c] + '</th>';
					}
					table += '</tr>';
				} else if(r == 2){
					table += '<tr>';
						for(var c = 0; c < cols; c++) {
							if(c==0) {
								table += '<td height = "60">' + time[index] +'</td>';
								index++;
							} else {
								table += '<td rowspan="16" id='+ weekDays[c] + 'T' +'>' + nestedTable() +'</td>';
							}
						}
					table += '</tr>';
				} else {
					table += '<tr>';
						table += '<td height = "60">' + time[index] +'</td>';
								index++;
					table += '</tr>';
				}
			}
            //var tbl = document.createElement("table");


			//document.write('<table border=1 bordercolor="lightgray" cellspacing="0" style="width: 100%; height: 100%;">' + table + '</table>');
			//table = '<table border=1 bordercolor="lightgray" cellspacing="0" style="width: 100%; height: 100%;">' + table + '</table>';
			var htmlObject = document.createElement('table');
			htmlObject.innerHTML = table;
			//var text1 = document.createTextNode(table);
			//tbl.appendChild(text1);
			body.appendChild(htmlObject);
			htmlObject.setAttribute("border", "1");
			htmlObject.setAttribute("bordercolor", "lightgray");
			htmlObject.setAttribute("cellspacing", "0");
			htmlObject.setAttribute("style", "width: 100%; height: 100%;");
			//return table;

			// document.getElementById("Fri22:00").style.backgroundColor = "blue";
			// for(var i = 0; i < 6; i ++) {
			// 	document.getElementById('Wed3:00pm').getElementsByTagName('td')[i + 6].style.backgroundColor = "lightblue";
			// }
			// for(var i = 0; i < 9; i ++) {
			// 	document.getElementById('Wed4:00pm').getElementsByTagName('td')[i].style.backgroundColor = "lightblue";
			// }


		}

		function nestedTable() {
			var nestedTable = '';
			var row = 192;
			nestedTable += '<table border=0 cellspacing="0" style="width: 100%; height: 100%;">';
			for(var r = 0; r < row; r++) {
				nestedTable += '<tr>' + '<td heigh = "9">' + '</td>' + '</tr>'
			}
			nestedTable += '</table>';
			return nestedTable;
		}


		function timeSplit(string) {
			//MW2:00pm-3:15pm
			// var string = "Mon1530-1645";
			var day = string.substring(0, 3);
			var time = string.substring(3);
			var res = time.split("-");
			var TimeS = res[0];
			var TimeE = res[1];
			var hourS = parseInt(TimeS.substring(0, 2), 10);
			var minS = parseInt(TimeS.substring(2), 10);
			var hourE = parseInt(TimeE.substring(0, 2), 10);
			var minE = parseInt(TimeE.substring(2), 10);
			var diffHour = hourE - hourS;
			var diffMin = minE - minS;
			var startCell = ((hourS-7)*12) + (minS/5);
			var numOfCells = (diffHour*12) + (diffMin/5);
			return [startCell, numOfCells, day];
		}

		var a = 0;

		table("DEFAULT SCHEDULE");

			 // document.getElementById('MonT').getElementsByTagName('td')[115].innerHTML = "Math";


        </script>

</body>


	<script type="text/javascript">
        var classArr = [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [],
            [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []];
        var color =["","Lavender", "MistyRose", "lightgrey", "lightblue", "LightCoral", "LightSkyBlue"];
        var planIndex = 0;
        var tableName;
        var tableIndexArr = ["0"];
        var conflict = false;

		var subjectArr = {{ displayData|tojson }};

		    //$.post("/load_ajax", {
		      // data: JSON.stringify("world"),
            //}, function(data, status) {
		      //  alert(data);
            //});
        function resize() {
            document.getElementById(planIndex).click();
        }
        //window.onresize = resize(planIndex);

        function deleTable() {
            var element = document.getElementsByTagName("table"), index;

            for (index = element.length - 1; index >= 0; index--) {
                element[index].parentNode.removeChild(element[index]);
            }
            var div = document.getElementsByTagName("div"), index2;

            for (index2 = div.length - 1; index2 >= 0; index2--) {
                div[index2].parentNode.removeChild(div[index2]);
            }
        }













		function clearData (string) {
            var s1 = string.substring(1);
            var s2 = s1.substring(0, s1.length-1);
            var goodData = s2.split(",");
            for (var i = 0; i < goodData.length; i ++) {
                goodData[i] = goodData[i].substring(1, goodData[i].length-1);
                if(i >= 1) {
                    goodData[i] = goodData[i].substring(1, goodData[i].length);
                }
            }
            return goodData;
        }





        function finalSplite() {
            var sub = document.getElementById("subject").value;
            var classValue = document.getElementById("class1").value;
            var lecValue = document.getElementById("teacherLecTime").value;
            var sectionValue = document.getElementById("section").value;

            var testLecValue = lecValue.split("~");


            if(lecValue == "T B A~T B A~T B A") {
                return "";
            }


            if(testLecValue[1] == "T B A" || testLecValue[2] == "T B A") {
                return "";
            }

            var finalData = classValue + "~" + lecValue + "~" + sectionValue;



            if (finalData == "0~0~0" || finalData == "~~") {
                return "";
            } else {

                var proName = lecValue.slice(0, lecValue.search("~"));
                var lecValue = lecValue.substr(lecValue.search("~") + 1)
                var date = [];
                var i = 0;
                while (lecValue[0] != "~") {
                    var dateholder
                    if (lecValue[0] == "M") {
                        dateholder = "Mon";
                        date.push(dateholder);
                    } else if (lecValue[0] == "T") {
                        dateholder = "Tue";
                        date.push(dateholder);
                    } else if (lecValue[0] == "W") {
                        dateholder = "Wed";
                        date.push(dateholder);
                    } else if (lecValue[0] == "R") {
                        dateholder = "Thr";
                        date.push(dateholder);
                    } else if (lecValue[0] == "F") {
                        dateholder = "Fri"
                        date.push(dateholder);
                    }
                    i += 1;
                    lecValue = lecValue.substr(1);
                }
                lecValue = lecValue.substr(1);
                var LecStartTime = "";
                var LecEndTime = "";
                while (lecValue[0] != "-") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecStartTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecStartTime = ConvertTimeformat(LecStartTime);
                lecValue = lecValue.substr(1);
                while (lecValue[0] != "m") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecEndTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecEndTime += "m";
                LecEndTime = ConvertTimeformat(LecEndTime);
                var LecTimeFinal = []
                var i;
                for (i = 0; i < date.length; i++) {
                    LecTimeFinal.push(date[i] + LecStartTime + "-" + LecEndTime);
                }
                var bigFinal = [];
                bigFinal.push(classValue);
                var i;
                for (i = 0; i < LecTimeFinal.length; i++) {
                    bigFinal.push(LecTimeFinal[i])
                }
                var secdate = [];
                if (sectionValue != "") {
                    while (sectionValue[0] != "~") {
                        var dateholder
                        if (sectionValue[0] == "M") {
                            dateholder = "Mon";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "T") {
                            dateholder = "Tue";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "W") {
                            dateholder = "Wed";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "R") {
                            dateholder = "Thr";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "F") {
                            dateholder = "Fri"
                            secdate.push(dateholder);
                        }
                        i += 1;
                        sectionValue = sectionValue.substr(1);
                    }

                    sectionValue = sectionValue.substr(1);
                    var secStartTime = "";
                    var secEndTime = "";
                    while (sectionValue[0] != "-") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secStartTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secStartTime = ConvertTimeformat(secStartTime);
                    sectionValue = sectionValue.substr(1);
                    while (sectionValue[0] != "m") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secEndTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secEndTime += "m";
                    secEndTime = ConvertTimeformat(secEndTime);
                    var secTimeFinal = []
                    var i;
                    for (i = 0; i < secdate.length; i++) {
                        secTimeFinal.push(secdate[i] + secStartTime + "-" + secEndTime);
                    }

                }

                var i;
                for (i = 0; i < secdate.length; i++) {
                    bigFinal.push(secTimeFinal[i])
                }
                //alert(bigFinal);
                return bigFinal;

            }
        }



        function ConvertTimeformat(str) {
            var time = str;
            var hours = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM = time.match(/\s*\S+(am|pm)$/)[1];
            if (AMPM == "pm" && hours < 12) hours = hours + 12;
            if (AMPM == "am" && hours == 12) hours = hours - 12;
            var sHours = hours.toString();
            var sMinutes = minutes.toString();
            if (hours < 10) sHours = "0" + sHours;
            if (minutes < 10) sMinutes = "0" + sMinutes;
            return sHours + sMinutes;
        }


        var colorIndex = 1;


        function DropClass(index) {
            deleTable();
            table(tableName);

            var className = document.getElementById("classOn").value;
            var classIndex = 0;
            for (var i = 0; i < classArr[index].length; i ++) {
                if(className == classArr[index][i]) {
                    classArr[index].splice(i, 1);
                }
            }

            var arr1 = classArr[index];


		    var classOn = document.getElementById("classOn");


			    var options1 = classOn.getElementsByTagName("option");
			for(var m = 0; m<options1.length; m++)
			{
				var op = options1[m];
				classOn.removeChild(op);
				m--;
			}

			    for(var j = 0; j<arr1.length; j++)
					{
						var value1 = arr1[j];
						var option1 = document.createElement("option");
						var text1 = document.createTextNode(value1);
						option1.appendChild(text1);
						classOn.appendChild(option1);
					}

			    for(var i = 0; i < classArr[index].length; i++) {
			        var class2 = classArr[index][i].split("*");
                    var class3 = splitClass(class2);
                    for(var j = 1; j < class3.length; j++) {
                        addColor(class2[0], class3[j], color[i+1]);
                    }
                }
			    colorIndex = classArr[index].length + 1;
        }








































        function splitClass(arr) {
            //var sub = document.getElementById("subject").value;
            var classValue = arr[0];
            var lecValue = arr[1];
            var sectionValue = arr[2];

            var finalData = classValue + "~" + lecValue + "~" + sectionValue;

            if (finalData == "0~0~0") {
                return "";
            } else {

                var proName = lecValue.slice(0, lecValue.search("~"));
                var lecValue = lecValue.substr(lecValue.search("~") + 1)
                var date = [];
                var i = 0;
                while (lecValue[0] != "~") {
                    var dateholder
                    if (lecValue[0] == "M") {
                        dateholder = "Mon";
                        date.push(dateholder);
                    } else if (lecValue[0] == "T") {
                        dateholder = "Tue";
                        date.push(dateholder);
                    } else if (lecValue[0] == "W") {
                        dateholder = "Wed";
                        date.push(dateholder);
                    } else if (lecValue[0] == "R") {
                        dateholder = "Thr";
                        date.push(dateholder);
                    } else if (lecValue[0] == "F") {
                        dateholder = "Fri"
                        date.push(dateholder);
                    }
                    i += 1;
                    lecValue = lecValue.substr(1);
                }
                lecValue = lecValue.substr(1);
                var LecStartTime = "";
                var LecEndTime = "";
                while (lecValue[0] != "-") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecStartTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecStartTime = ConvertTimeformat(LecStartTime);
                lecValue = lecValue.substr(1);
                while (lecValue[0] != "m") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecEndTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecEndTime += "m";
                LecEndTime = ConvertTimeformat(LecEndTime);
                var LecTimeFinal = []
                var i;
                for (i = 0; i < date.length; i++) {
                    LecTimeFinal.push(date[i] + LecStartTime + "-" + LecEndTime);
                }
                var bigFinalData = [];
                bigFinalData.push(classValue);
                var i;
                for (i = 0; i < LecTimeFinal.length; i++) {
                    bigFinalData.push(LecTimeFinal[i])
                }
                var secdate = [];
                if (sectionValue != "") {
                    while (sectionValue[0] != "~") {
                        var dateholder
                        if (sectionValue[0] == "M") {
                            dateholder = "Mon";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "T") {
                            dateholder = "Tue";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "W") {
                            dateholder = "Wed";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "R") {
                            dateholder = "Thr";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "F") {
                            dateholder = "Fri"
                            secdate.push(dateholder);
                        }
                        i += 1;
                        sectionValue = sectionValue.substr(1);
                    }

                    sectionValue = sectionValue.substr(1);
                    var secStartTime = "";
                    var secEndTime = "";
                    while (sectionValue[0] != "-") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secStartTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secStartTime = ConvertTimeformat(secStartTime);
                    sectionValue = sectionValue.substr(1);
                    while (sectionValue[0] != "m") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secEndTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secEndTime += "m";
                    secEndTime = ConvertTimeformat(secEndTime);
                    var secTimeFinal = []
                    var i;
                    for (i = 0; i < secdate.length; i++) {
                        secTimeFinal.push(secdate[i] + secStartTime + "-" + secEndTime);
                    }

                }

                var i;
                for (i = 0; i < secdate.length; i++) {
                    bigFinalData.push(secTimeFinal[i])
                }
                //alert(bigFinalData);
                return bigFinalData;
            }
        }






        var buttonIndex = 1;
        function addNewPlan() {
            var header = document.getElementById("header");
            var btn = document.createElement("BUTTON");
            //var text = "Plan" + buttonIndex;
            var text;
            do {
                text = prompt("What do you want to name this plan?");
            } while (text === "" );

            if(text === null || text === undefined) {
                return;
            }

            var d = document.createElement("div");
            tableName = text;
            var t = document.createTextNode(text);       // Create a text node
            btn.appendChild(t);

			btn.id = buttonIndex;
			tableIndexArr.push(""+buttonIndex);
			btn.className = "button";
			btn.value = text;
			//btn.onclick = printTimeTable(btn.id);
            btn.setAttribute( "onClick", "javascript: printTimeTable(this.id, this.value);" );
            //d.appendChild(btn);
			header.appendChild(btn);

            //btn.onclick = printTimeTable(btn.id);
            document.getElementById(buttonIndex).click();
			buttonIndex++;
        }


        function printTimeTable(id, value) {
            //alert(value);
            //alert(id);
            deleTable();



            planIndex = parseInt(id, 10);
            table(value);

            //var className = document.getElementById("classOn").value;
            var classIndex = 0;
            //for (var i = 0; i < classArr[planIndex].length; i ++) {
            //    if(className == classArr[planIndex][i]) {
            //        classArr[planIndex].splice(i, 1);
            //    }
            //}

            var arr1 = classArr[planIndex];


		    var classOn = document.getElementById("classOn");


			    var options1 = classOn.getElementsByTagName("option");
			for(var m = 0; m<options1.length; m++)
			{
				var op = options1[m];
				classOn.removeChild(op);
				m--;
			}

			    for(var j = 0; j<arr1.length; j++)
					{
						var value1 = arr1[j];
						var option1 = document.createElement("option");
						var text1 = document.createTextNode(value1);
						option1.appendChild(text1);
						classOn.appendChild(option1);
					}

			    for(var i = 0; i < classArr[planIndex].length; i++) {
			        var class2 = classArr[planIndex][i].split("*");
                    var class3 = splitClass(class2);
                    for(var j = 1; j < class3.length; j++) {
                        addColor(class2[0], class3[j], color[i+1]);
                    }
                }
			    colorIndex = classArr[planIndex].length + 1;
        }







        function deletePlan(planIndex) {
            if(planIndex == 0) {
                alert("You cannot delete default plan!");
            } else {
                var header = document.getElementById("header");
                var button = document.getElementById(""+planIndex);
                header.removeChild(button);
                classArr.splice(planIndex,1);
                var index = 0;
                var planIndexS = ""+planIndex;
                for(var i = 0; i < tableIndexArr.length; i ++) {
                    if(planIndexS == tableIndexArr[i]) {
                        index = i;
                    }
                }
                tableIndexArr.splice(index,1);
                document.getElementById(tableIndexArr[index-1]).click();
            }
        }



	</script>
</html>









