<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Time Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/addColor.js"></script>
    <script src="../static/js/dropdownListAdding.js"></script>
    <link rel="stylesheet" href="css/mainSelect.css">
</head>
<body onload="addSubject()">

    <header>

	<label>Subject:  <select id="subject" onchange="postSubject(this.value) ">
		<option value="0">--Please Choose--</option>
	</select>
    </label>

	<label>Class: <select id="class1" onchange="postSubClass(this.value)">
		<option value="0">--Please Choose--</option>
	</select>
    </label>

	<label>Lecture:  <select id="teacherLecTime" onchange="postLectTime(this.value)">
		<option value="0">--Please Choose--</option>
	</select>
    </label>

    <label>Section:  <select id="section">
		<option value="0">--Please Choose--</option>
	</select>
    </label>
    <button class="button" style="vertical-align:middle" onclick = "addClass()"><span>addClass</span></button>

    </br>

    <label>Your Class:  <select id="classOn">
		<option value="0">Your class will be here!</option>
	</select>
    </label>
  

    <button class="button" style="vertical-align:middle" onclick = "DropClass()"><span>Drop it!</span></button>


    </header>


    <footer>
        <div class="links">
            <a href="https://my.sa.ucsb.edu/gold/">Take me to UCSB Gold!</a>
        </div>
    </footer>

    <script type="text/javascript">
    function table() {
			var weekDays = ["", "Mon", "Tue", "Wed", "Thr", "Fri"];
			var time = ["7:00am", "8:00am", "9:00am", "10:00am", "11:00am", "12:00pm",
			"1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm",
			"9:00pm", "10:00pm"];
			var index = 0;
			var table = '';
			var rows = 18;
			var cols = 6;
			for (var r = 0; r < rows; r++){
				if(r == 0) {
					table += '<tr>';
					table += '<th height = "60" colspan="6" id = "title">' +  'Time Table' + '</th>';
					// table += '<th colspan= "6">' + Time Table + '</th>';
					table += '</tr>';

				} else if(r == 1) {
					table += '<tr>';
					for (var c = 0; c < cols; c++) {
						table += '<th width ="60" height = "60" id='+ weekDays[c] + '>' + weekDays[c] + '</th>';
					}
					table += '</tr>';
				} else if(r == 2){
					table += '<tr>';
						for(var c = 0; c < cols; c++) {
							if(c==0) {
								table += '<td height = "60">' + time[index] +'</td>';
								index++;
							} else {
								table += '<td rowspan="16" id='+ weekDays[c] + 'T' +'>' + nestedTable() +'</td>';
							}
						}
					table += '</tr>';
				} else {
					table += '<tr>';
						table += '<td height = "60">' + time[index] +'</td>';
								index++;
					table += '</tr>';
				}
			}

			document.write('<table border=1 bordercolor="lightgray" cellspacing="0" style="width: 100%; height: 100%;">' + table + '</table>');

		}

		function nestedTable() {
			var nestedTable = '';
			var row = 192;
			nestedTable += '<table border=0 cellspacing="0" style="width: 100%; height: 100%;">';
			for(var r = 0; r < row; r++) {
				nestedTable += '<tr>' + '<td heigh = "9">' + '</td>' + '</tr>'
			}
			nestedTable += '</table>';
			return nestedTable;
		}


		function timeSplit(string) {
			//MW2:00pm-3:15pm
			// var string = "Mon1530-1645";
			var day = string.substring(0, 3);
			var time = string.substring(3);
			var res = time.split("-");
			var TimeS = res[0];
			var TimeE = res[1];
			var hourS = parseInt(TimeS.substring(0, 2), 10);
			var minS = parseInt(TimeS.substring(2), 10);
			var hourE = parseInt(TimeE.substring(0, 2), 10);
			var minE = parseInt(TimeE.substring(2), 10);
			var diffHour = hourE - hourS;
			var diffMin = minE - minS;
			var startCell = ((hourS-7)*12) + (minS/5);
			var numOfCells = (diffHour*12) + (diffMin/5);
			return [startCell, numOfCells, day];
		}

		var a = 0;



		var time1 = "Thr1530-1645";
		var time2 = "Wed1530-1645";
		var time3 = "Fri0900-0955";
		var time4 = "Fri0800-1000";
		table();

			 // document.getElementById('MonT').getElementsByTagName('td')[115].innerHTML = "Math";


        </script>

</body>

	<script type="text/javascript">

        var color =["","Lavender", "MistyRose", "lightgrey", "lightblue", "LightCoral", "LightSkyBlue"];
		var subjectArr = {{ displayData|tojson }};











		function getValue() {
		    var classValue = document.getElementById("class1").value;
		    alert(classValue);
        }

		function clearData (string) {
            var s1 = string.substring(1);
            var s2 = s1.substring(0, s1.length-1);
            var goodData = s2.split(",");
            for (var i = 0; i < goodData.length; i ++) {
                goodData[i] = goodData[i].substring(1, goodData[i].length-1);
                if(i >= 1) {
                    goodData[i] = goodData[i].substring(1, goodData[i].length);
                }
            }
            return goodData;
        }


        function finalSplite() {
            var sub = document.getElementById("subject").value;
            var classValue = document.getElementById("class1").value;
            var lecValue = document.getElementById("teacherLecTime").value;
            var sectionValue = document.getElementById("section").value;

            var finalData = classValue + "~" + lecValue + "~" + sectionValue;

            if (finalData == "0~0~0") {
                return "";
            } else {

                var proName = lecValue.slice(0, lecValue.search("~"));
                var lecValue = lecValue.substr(lecValue.search("~") + 1)
                var date = [];
                var i = 0;
                while (lecValue[0] != "~") {
                    var dateholder
                    if (lecValue[0] == "M") {
                        dateholder = "Mon";
                        date.push(dateholder);
                    } else if (lecValue[0] == "T") {
                        dateholder = "Tue";
                        date.push(dateholder);
                    } else if (lecValue[0] == "W") {
                        dateholder = "Wed";
                        date.push(dateholder);
                    } else if (lecValue[0] == "R") {
                        dateholder = "Thr";
                        date.push(dateholder);
                    } else if (lecValue[0] == "F") {
                        dateholder = "Fri"
                        date.push(dateholder);
                    }
                    i += 1;
                    lecValue = lecValue.substr(1);
                }
                lecValue = lecValue.substr(1);
                var LecStartTime = "";
                var LecEndTime = "";
                while (lecValue[0] != "-") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecStartTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecStartTime = ConvertTimeformat(LecStartTime);
                lecValue = lecValue.substr(1);
                while (lecValue[0] != "m") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecEndTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecEndTime += "m";
                LecEndTime = ConvertTimeformat(LecEndTime);
                var LecTimeFinal = []
                var i;
                for (i = 0; i < date.length; i++) {
                    LecTimeFinal.push(date[i] + LecStartTime + "-" + LecEndTime);
                }
                var bigFinal = [];
                bigFinal.push(classValue);
                var i;
                for (i = 0; i < LecTimeFinal.length; i++) {
                    bigFinal.push(LecTimeFinal[i])
                }
                var secdate = [];
                if (sectionValue != "") {
                    while (sectionValue[0] != "~") {
                        var dateholder
                        if (sectionValue[0] == "M") {
                            dateholder = "Mon";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "T") {
                            dateholder = "Tue";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "W") {
                            dateholder = "Wed";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "R") {
                            dateholder = "Thr";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "F") {
                            dateholder = "Fri"
                            secdate.push(dateholder);
                        }
                        i += 1;
                        sectionValue = sectionValue.substr(1);
                    }

                    sectionValue = sectionValue.substr(1);
                    var secStartTime = "";
                    var secEndTime = "";
                    while (sectionValue[0] != "-") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secStartTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secStartTime = ConvertTimeformat(secStartTime);
                    sectionValue = sectionValue.substr(1);
                    while (sectionValue[0] != "m") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secEndTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secEndTime += "m";
                    secEndTime = ConvertTimeformat(secEndTime);
                    var secTimeFinal = []
                    var i;
                    for (i = 0; i < secdate.length; i++) {
                        secTimeFinal.push(secdate[i] + secStartTime + "-" + secEndTime);
                    }

                }

                var i;
                for (i = 0; i < secdate.length; i++) {
                    bigFinal.push(secTimeFinal[i])
                }
                //alert(bigFinal);
                return bigFinal;

            }
        }



        function ConvertTimeformat(str) {
            var time = str;
            var hours = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM = time.match(/\s*\S+(am|pm)$/)[1];
            if (AMPM == "pm" && hours < 12) hours = hours + 12;
            if (AMPM == "am" && hours == 12) hours = hours - 12;
            var sHours = hours.toString();
            var sMinutes = minutes.toString();
            if (hours < 10) sHours = "0" + sHours;
            if (minutes < 10) sMinutes = "0" + sMinutes;
            return sHours + sMinutes;
        }


        var colorIndex = 1;


        function DropClass() {

            var element = document.getElementsByTagName("Table");
            var x = document.getElementsByTagName("BODY")[0];
            element.x.removeChild(element);

            var className = document.getElementById("classOn").value;
            var classIndex = 0;
            for (var i = 0; i < classArr.length; i ++) {
                if(className == classArr[i]) {
                    classArr.splice(i, 1);
                }
            }

            var arr1 = classArr;


		    var classOn = document.getElementById("classOn");


			    var options1 = classOn.getElementsByTagName("option");
			for(var m = 0; m<options1.length; m++)
			{
				var op = options1[m];
				classOn.removeChild(op);
				m--;
			}

			    for(var j = 0; j<arr1.length; j++)
					{
						var value1 = arr1[j];
						var option1 = document.createElement("option");
						var text1 = document.createTextNode(value1);
						option1.appendChild(text1);
						classOn.appendChild(option1);
					}

			    for(var i = 0; i < classArr.length; i++) {
			        var class2 = classArr[i].split("*");
                    var class3 = splitClass(class2);

                }
        }


        function splitClass(arr) {
            //var sub = document.getElementById("subject").value;
            var classValue = arr[0];
            var lecValue = arr[1];
            var sectionValue = arr[2];

            var finalData = classValue + "~" + lecValue + "~" + sectionValue;

            if (finalData == "0~0~0") {
                return "";
            } else {

                var proName = lecValue.slice(0, lecValue.search("~"));
                var lecValue = lecValue.substr(lecValue.search("~") + 1)
                var date = [];
                var i = 0;
                while (lecValue[0] != "~") {
                    var dateholder
                    if (lecValue[0] == "M") {
                        dateholder = "Mon";
                        date.push(dateholder);
                    } else if (lecValue[0] == "T") {
                        dateholder = "Tue";
                        date.push(dateholder);
                    } else if (lecValue[0] == "W") {
                        dateholder = "Wed";
                        date.push(dateholder);
                    } else if (lecValue[0] == "R") {
                        dateholder = "Thr";
                        date.push(dateholder);
                    } else if (lecValue[0] == "F") {
                        dateholder = "Fri"
                        date.push(dateholder);
                    }
                    i += 1;
                    lecValue = lecValue.substr(1);
                }
                lecValue = lecValue.substr(1);
                var LecStartTime = "";
                var LecEndTime = "";
                while (lecValue[0] != "-") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecStartTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecStartTime = ConvertTimeformat(LecStartTime);
                lecValue = lecValue.substr(1);
                while (lecValue[0] != "m") {
                    if (lecValue[0] == " ")
                        ;
                    else {
                        LecEndTime += lecValue[0];
                    }
                    lecValue = lecValue.substr(1);
                }
                LecEndTime += "m";
                LecEndTime = ConvertTimeformat(LecEndTime);
                var LecTimeFinal = []
                var i;
                for (i = 0; i < date.length; i++) {
                    LecTimeFinal.push(date[i] + LecStartTime + "-" + LecEndTime);
                }
                var bigFinalData = [];
                bigFinalData.push(classValue);
                var i;
                for (i = 0; i < LecTimeFinal.length; i++) {
                    bigFinalData.push(LecTimeFinal[i])
                }
                var secdate = [];
                if (sectionValue != "") {
                    while (sectionValue[0] != "~") {
                        var dateholder
                        if (sectionValue[0] == "M") {
                            dateholder = "Mon";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "T") {
                            dateholder = "Tue";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "W") {
                            dateholder = "Wed";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "R") {
                            dateholder = "Thr";
                            secdate.push(dateholder);
                        } else if (sectionValue[0] == "F") {
                            dateholder = "Fri"
                            secdate.push(dateholder);
                        }
                        i += 1;
                        sectionValue = sectionValue.substr(1);
                    }

                    sectionValue = sectionValue.substr(1);
                    var secStartTime = "";
                    var secEndTime = "";
                    while (sectionValue[0] != "-") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secStartTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secStartTime = ConvertTimeformat(secStartTime);
                    sectionValue = sectionValue.substr(1);
                    while (sectionValue[0] != "m") {
                        if (sectionValue[0] == " ")
                            ;
                        else {
                            secEndTime += sectionValue[0];
                        }
                        sectionValue = sectionValue.substr(1);
                    }
                    secEndTime += "m";
                    secEndTime = ConvertTimeformat(secEndTime);
                    var secTimeFinal = []
                    var i;
                    for (i = 0; i < secdate.length; i++) {
                        secTimeFinal.push(secdate[i] + secStartTime + "-" + secEndTime);
                    }

                }

                var i;
                for (i = 0; i < secdate.length; i++) {
                    bigFinalData.push(secTimeFinal[i])
                }
                alert(bigFinalData);
                return bigFinalData;
            }
        }



	</script>
</html>










